/* Style Settings */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
:root {
    --bgColor:#333333;
    --accentColor: #FFB900;
    --font: 'Lato', sans-serif;
}

body{
    background-color: var(--bgColor);
}

#userPhoto{
    width: 110px;
    height: 110px;
    display: block;
    margin: 35px auto 20px;
    border-radius: 50%;
}

.authorContent{
    color: #bbb;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1;
    display: block;
    font-family: var(--font);
    width: 100%;
    text-align: center;
    text-decoration: none;
}
.authorContent h4{
    margin-bottom: 20px;
}

#worklinks{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

#privatelinks{
    max-width: 675px;
    width: auto;
    display: block;
    margin: 27px auto;
}

#website{
    display: flex;
    justify-content: center;
    align-items: center;
}

.link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--accentColor);
    color: var(--bgColor);
    font-family: var(--font);
    text-align: center;
    margin-bottom: 20px;
    padding: 17px;
    text-decoration: none;
    font-size: 1rem;
    transition: all .25s cubic-bezier(.08,.59,.29,.99);
    border: solid var(--accentColor) 2px;
    height: 50px;
}
.link .fab, .link .fa{
    color: var(--bgColor) !important;
    margin-right: 0;
    margin-left: 0;
}

.link:hover{
    background-color: var(--bgColor);
    color: var(--accentColor);
}

label{
    margin-left: -32px;
}

.link:hover .fab,.link:hover .fa{
    color: var(--accentColor);
}

.heading {
    padding-top: 20px !important;
    text-align: center;
    padding: 10px 15px;
}

.heading h2 {
    font-size: 32px;
    font-weight: 700;
    color: #fff;
    margin-top: 0;
}

.heading .line-dec {
    width: 60px;
    height: 3px;
    background-color: var(--accentColor);
    margin: 10px auto;
}

.heading span {
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 0.5px;
}

#discord label::after{
    content: 'Discord';
}
#discord:hover label::after{
    content: 'DHR#9918';
}