:root {
    --bgColor:#333333;
    --bgAccColor: #545454;
    --accentColor: #FFB900;
    --font: 'Lato', sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--bgColor);
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/* Basics */
h2{
    font-weight: 700;
}
h3 {
    font-size: calc(1.2rem + .6vw);
}

color{
    color: var(--accentColor);
}

input,
select,
textarea {
    outline: none;
}

a {
    color: var(--accentColor);
    text-decoration: none !important;
}
a:hover {
    color: var(--accentColor);
    text-decoration: underline;
}

.menu-content a:hover, .link-button a:hover, .cv a:hover, .cv a {
    color: #fff;
    text-decoration: none;
}

@media (max-width: 920px) and (min-width: 880px) {
    .linebreak{
        line-height: 30px !important;
    }
}
@media (max-width: 800px) {
    .linebreak{
        line-height: 30px !important;
    }
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

span {
    font-size: 16px;
    font-style: italic;
}

/* img {
    width: 100%;
} */

small {
    font-size: 60%;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 0.9;
}

.spacer{
    min-height: 7px;
}

button{
    border: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 125px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.75px;
    background-color: var(--bgAccColor);
    color: var(--accentColor);

}
button:hover{
    color: var(--bgColor);
    background-color: var(--accentColor);
}
.link-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 125px;
    background-color: var(--bgAccColor);
}
.link-button:hover{
    cursor: pointer;
    background-color: var(--accentColor);
}
.link-button:hover a, .link-button:hover .fab, .link-button:hover .fa, .link-button:hover .fas, .link-button:hover .fa-solid{
    color: var(--bgColor);
}
.link-button a{
    padding: 12px 20px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: var(--accentColor);
}

.fa, .fas, .fab, .fa-solid{
    color: var(--accentColor);
}

.footer{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    max-width: 100%;
    flex-wrap: wrap;
}

/* Menu */
.menu{
    background-color: var(--bgAccColor);
    display: flex;
    flex-direction: column;   
    justify-content: space-between; 
}
.menu-content{
    position: sticky;
    top: 25px;

    flex-direction: column;
    display: flex;
    justify-content: space-between;
    height: 100vh;
    max-height: 800px;
}

.legal{
    bottom: 5px;
    flex-direction: column;
}

@media screen and (min-height: 900px) {
    .legal{
        position: fixed;
    }
}

.menu-footer{
    display: flex;
    justify-content: space-between;
    position: sticky;
    bottom: 15px;
    max-width: 100%;
    flex-wrap: wrap;
}

.image-round img {
    /* width: 140px;
    height: 140px; */
    border-radius: 50%;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding-inline-start: inherit;
}

.menu-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}
.menu-nav li:last-child a {
    border-bottom: 2px solid #fff;
}
.menu-nav li:hover a{
    background: var(--bgColor);
}
.menu-nav li.active a {
    background: var(--bgColor);
    color: var(--accentColor);
}

.social-icons span{
    color: var(--accentColor) !important;
}

/* Content */

section {
    position: relative;
    min-height: 100vh;
    padding-bottom: 80px;
}
.heading{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
}
.line-dec {
    width: 60px;
    height: 3px;
    background-color: var(--accentColor);
    margin: 10px auto;
}
.long-line{
    width: 150px;
}

.moreContact{
    display: flex;
}

/* Skills */
figure.skill .heading{
    height: 300px;
    border-radius: 5px; 
    background-color: var(--bgAccColor);
    padding-top: 25%;
}
figure.skill {
    cursor: pointer;
    text-align: center;
    -webkit-perspective: 50em;
    perspective: 50em;
}
figure.skill h4{
    font-size: 1rem;
}
figure.skill * {
    -webkit-box-sizing: padding-box;
    box-sizing: padding-box;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
figure.skill figcaption {
    top: 50%;
    left: 20px;
    right: 20px;
    position: absolute;
    opacity: 0;
    z-index: 1;
}
figure.skill:after {
    background-color: var(--bgColor);
    position: absolute;
    content: "";
    display: block;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-transform: translateY(50%);
    transform: translateY(50%);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    opacity: 0;
}
figure small{
    font-style: italic;
    color: var(--bgAccColor);
}
  
figure.skill:hover figcaption,
figure.skill.hover figcaption {
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    opacity: 1;
    /* -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s; */
}
figure.skill:hover:after,
figure.skill.hover:after {
    -webkit-transform: rotateX(0);
    transform: rotateX(0);
    opacity: .98;
}
.skill-list{
    margin-left: 25%;
    width: 50%;
    display: flex;
    justify-content: space-around;
}

/* Career */
.cv-isotope-selector{
    display: flex;
    justify-content: center;  
    align-items: center;
    width: 100%;
}
.cv-isotope-selector input[type="radio"]{
    display: none;
}
.cv-isotope-selector input[type="radio"]:checked + span{
    border-bottom: 2px solid var(--accentColor);
    color: var(--accentColor);
}
.cv-isotope-selector span {
    font-style: normal;
    font-weight: 700;
    margin-bottom: .5rem;
}

.cv-item {
    width: 45%;
    border-bottom: 2px solid var(--accentColor);
    padding: 30px;
    margin: 10px;
    cursor: default;
}
.cv-item .cv-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    height: 48px;
}
.cv-item:hover{
    background-color: var(--bgAccColor);
}
.cv-item h4{
    color: var(--accentColor);
}

.cv-item i {
    cursor: text;
}
.cv-item .fa, .cv-item .fas, .cv-item .fab, .cv-item .fa-solid{
    cursor: default;
}

.service-date{
    text-align: right;
    max-width: 150px;
}

/* Cookies */

.cookieContainer {

	z-index: 9999;
	width: 350px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
    border-radius: 5px;
	background: var(--bgAccColor);
	overflow: hidden;
	position: fixed;
    bottom: 30px;
	right: 15px;
}

.cookieContainer .cookieTitle a {
	color: var(--accentColor) !important;
	font-size: 22px;
	line-height: 20px;
	display: block;
}

.cookieContainer .cookieDesc p {

	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-size: 13px;
	line-height: 20px;
	display: block;
	margin-top: 10px;
} 

.cookieContainer .cookieDesc a {

	color: #FFFFFF;
	text-decoration: underline;
}

.cookieContainer .cookieButtons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width: 1200px){
    figcaption h5 {
        font-size: 1rem;
    }
    figcaption small {
        font-size: 55%;
    }
    .cv-item .fas-3x, .cv-item .fab-3x, .cv-item .fa-3x, .cv-item .fa-solid-3x{
        font-size: 2em;
    }
    .cv-item .fa-link{
        font-size: .75em;
    }
    .cv-item small{
        font-size: 60%;
    }
    .cv-item i{
        font-size: .9rem;
    }
}

@media screen and (max-width: 999px) and (min-width: 759px) {
    .container {
        max-width: 100%;
    }
}

@media screen and (max-width: 880px) { 
    .menu, ::after, ::before {
        box-sizing: unset;
    }

    h4 {
        font-size: 1.25rem;
    }

    .cv-item{
        width: 90%;
    }
    
}

.mobile-only{
    display: none;
}

@media screen and (max-width: 758px) {
    .menu {
        display: none;
    }
    .mobile-only{
        display: block;
    }
}



