@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900");
:root {
    --bgColor:#333333;
    --bgAccColor: #545454;
    --accentColor: #FFB900;
    --font: 'Lato', sans-serif;
}

body {
    font-family: var(--font);
    background-color: var(--bgColor);
    color: #fff;
}

html {
    scroll-behavior: smooth;
}

/* Basics */
input,
select,
textarea {
    outline: none;
}

a,
a:hover {
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 24px;
    color: #fff;
}

h4 {
    font-size: 26px;
    font-weight: 700;
    color: #fff;
    letter-spacing: 0.25px;
}

span {
    font-size: 13px;
    font-style: italic;
}

img {
    width: 100%;
}

button{
    border: inherit;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 125px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.75px;
    background-color: var(--bgAccColor);
    color: var(--accentColor);

}
button:hover{
    color: var(--bgColor);
    background-color: var(--accentColor);
}
.link-button{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    min-width: 125px;
    background-color: var(--bgAccColor);
}
.link-button:hover{
    cursor: pointer;
    background-color: var(--accentColor);
}
.link-button:hover a, .link-button:hover .fab, .link-button:hover .fa, .link-button:hover .fas{
    color: var(--bgColor);
}
.link-button a{
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.75px;
    text-transform: uppercase;
    color: var(--accentColor);
}

.fa, .fas, .fab{
    color: var(--accentColor);
}


/* Menu */
.menu{
    background-color: var(--bgAccColor);
}
.menu-content{
    margin-top: 100px;
    position: sticky;
    top: 100px;
}

.image-round img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    text-align: center;
}

.menu ul {
    list-style: none;
    padding-inline-start: inherit;
}

.menu-nav li a {
    height: 70px;
    line-height: 70px;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 100%;
    transition: all 0.5s;
    border-top: 2px solid #fff;
}
.menu-nav li:last-child a {
    border-bottom: 2px solid #fff;
}
.menu-nav li:hover a{
    background: var(--bgColor);
}
.menu-nav li.active a {
    background: var(--bgColor);
    color: var(--accentColor);
}

.social-icons span{
    color: var(--accentColor) !important;
}

/* Content */
.line-dec {
    width: 60px;
    height: 3px;
    background-color: var(--accentColor);
    margin: 10px auto;
}

/* Skills */

/* Career */


/* Cookies */

.cookieContainer {

	z-index: 9999;
	width: 350px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 30px 30px 30px 30px;
    border-radius: 5px;
	background: var(--bgAccColor);
	overflow: hidden;
	position: fixed;
    bottom: 30px;
	right: 15px;
}

.cookieContainer .cookieTitle a {
	color: var(--accentColor) !important;
	font-size: 22px;
	line-height: 20px;
	display: block;
}

.cookieContainer .cookieDesc p {

	margin: 0;
	padding: 0;
	color: #FFFFFF;
	font-size: 13px;
	line-height: 20px;
	display: block;
	margin-top: 10px;
} 

.cookieContainer .cookieDesc a {

	color: #FFFFFF;
	text-decoration: underline;
}

.cookieContainer .cookieButtons{
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}